* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo_content h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.01em;
    margin-bottom: 0;
}

.logo_content p {
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
    margin-bottom: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 49px 0 80px;
    border-bottom: 1px solid #F7F7F7;
}
.logo_content{
    display: flex;
    align-items: center;
}
.logo_content>div{
    display: flex;
    flex-direction: column;
}
.logo_content>img{
    width: 38px;
    height: 38px;
    margin-right: 17px;
}


.payment{
    width: 150px;
    height: 50px;
    background: #FE5F1E;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.payment>p{
    color: white;
    font-size: 16px;
    margin-bottom: 0;
}
.payment>img{
    border-left:1px solid white;
    padding-left: 13px;
    margin-left: 13px;
    margin-right: 8px;
}